@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"

html, body, div, ul, ol, li, h1, h2, h3,
button, input, textarea, p
	margin: 0
	padding: 0

h1, h2, h3
	font-size: 1em
	font-weight: normal

ul, ol
	list-style-type: none

.container
	max-width: 480px
	margin: 0 auto