<!DOCTYPE html>
html(lang="ja")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	title デジタル版 白鳥寮献立表
	link(rel="stylesheet" href="./stylesheets/main.css")
body

	.container
		route
	script(src="./scripts/bundle.js")
	